* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #5db5f8,
    #7ec1f5,
    #a4d4f8,
    #d0e9fb,
    #e8f3fb
  );
  background-attachment: fixed; /* makes gradient smooth on scroll */
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
#sunnyIcon{
    display: flex;
    align-items: center;
    justify-content: center;
}
#sunnyIcon img{
    height: 250px;
    width: 250px;
}
main h3{
    color: #ffb703;
}
main button{
    background-color: #ffb703;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
}